@font-face {
  font-family: "baL";
  src: url(../Fonts/KoPubWorld_Batang_Light.ttf);
}

@font-face {
  font-family: "baB";
  src: url(../Fonts/KoPubWorld_Batang_Bold.ttf);
}

@font-face {
  font-family: "doL";
  src: url(../Fonts/KoPubWorld_Dotum_Light.ttf);
}

@font-face {
  font-family: "doB";
  src: url(../Fonts/KoPubWorld_Dotum_Bold.ttf);
}

/*본문*/
p {
  font-family: "baL";
  font-size: 1em;
  text-align: justify;
  line-height: 1.8em;
  margin: 1.4em 0;
  padding: 0;
}

.p2 {
  font-family: "baL";
  font-size: 0.8em;
  text-align: justify;
  line-height: 1.8em;
  text-indent: 0;
  padding-top: 1em;
}

/*소제목 앞 도트 장식*/
.dot {
  font-family: "baB";
  color: #6082D6;
  font-size: 2em;
  text-align: justify;
  line-height: 0.3em;
  text-indent: 0;
  padding: 0em;
  margin: 0em;
}

/*소제목*/
h1 {
  font-family: "baB";
  color: #6082D6;
  font-size: 1.3em;
  text-align: left;
  line-height: 2em;
  margin-bottom: 2em;
}

/*괄호*/
.gray {
  color: #959596;
  font-size: 0.8em;
}

/*이미지 위치 설정*/
.cover {
  text-align: center;
  height: auto;
  width: 100%;
}

.cover2 {
  text-align: left;
  height: auto;
  width: 80%;
}

/*판권*/
.title {
  font-family: "baL";
  font-size: 1.2em;
  text-align: justify;
  line-height: 1.9em;
  text-indent: 0;
  padding-bottom: 1em;
}

.EX {
  font-family: "baL";
  font-size: 0.8em;
  text-align: justify;
  line-height: 2em;
  text-indent: 0;
}

.EX-title {
  font-family: "doB";
  color: #A659CB;
  padding-right: 1em;
}

.line {
  border-left: 3px solid #6082D6;
  padding-left: 0.8em;
  font-family: "baL";
  font-size: 0.8em;
  text-align: justify;
  line-height: 1.9em;
  text-indent: 0;
}

/*수정금지*/
div {
  font-size: inherit;
  text-align: inherit;
  text-indent: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  padding: 0;
  margin: 0;
}

/*본문_소제목_둥근배경색_번호*/
span.sub_title_number {
  font-family: 'baB';
  background-color: #783E95;
  color: #ffffff;
  padding: 0.4em 0.8em;
  border-radius: 3em;
  font-size: 0.88em;
}

/*단락022*/
p.para0022 {
  font-family: 'baB';
  font-size: 0.86em;
  color: #4E4F4E;
  text-align: center;
  line-height: 2em;
}

/*단락023*/
p.para0023 {
  font-family: 'baB';
  color: #FFA897;
  text-align: center;
  line-height: 1.5em;
  font-size: 2em;
}

/*단락024*/
p.para0024 {
  font-family: 'baB';
  font-size: 1em;
  color: #783E95;
  text-align: center;
  line-height: 1.5em;
}

/*단락025*/
p.para0025 {
  font-family: 'baB';
  font-size: 1em;
  color: #4E4F4E;
  text-align: center;
  line-height: 1.5em;
}

/*단락026*/
p.para0026 {
  font-family: 'baB';
  font-size: 1em;
  color: #783E95;
  text-align: center;
  line-height: 1.5em;
}