@font-face {
  font-family: 'Foldit';
  font-weight: normal;
  font-style: normal;
  src: url('../Fonts/Foldit-Regular.ttf');
}

@font-face {
  font-family: 'Foldit Thin';
  font-weight: 250;
  font-style: normal;
  src: url('../Fonts/Foldit-Thin.ttf');
}

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: normal;
  font-style: normal;
  src: url('../Fonts/PretendardVariable.ttf');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: normal;
  font-style: italic;
  src: url('../Fonts/RobotoMono-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: normal;
  font-style: normal;
  src: url('../Fonts/RobotoMono-VariableFont_wght.ttf');
}

h2 {
  font-family: 'Foldit';
  font-size: 3.4em;
  color: #102F47;
  letter-spacing: 0.4em;
}

h3 {
  font-family: 'Foldit';
  font-size: 2.4em;
  color: #102F47;
  letter-spacing: 0.1em;
}

h3 > span {
  color: gray;
}

h4 {
  font-family: 'Foldit';
  font-size: 2em;
  color: #102F47;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 4em 0;
}

h5 {
  font-family: 'Foldit';
  font-size: 2.4em;
  color: #FFBB46;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 1.2em;
}


h6 {
  font-family: 'Foldit';
  font-size: 1.4em;
  color: grey;
  letter-spacing: 0.08em;
  margin: 1.74em 0 0 0;
}

p {
  font-family: 'Roboto Mono';
  font-size: 1em;
  color: grey;
  letter-spacing: -0.04em;
  line-height: 1.8em;
}
